{% extends 'Dashboardbase.html' %}
{% load static %} 
{%block content %}


      <div class="col-8">
        <div class="col-md-7 mb-2">
            <h3 class="texte"> Blogs</h3>
          </div>
        <div class="row">
          <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="javascript:;" class="d-block">
                  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/blog7-1.jpg"
                    class="img-fluid border-radius-lg">
                </a>
              </div>
  
              <div class="card-body pt-3">
                <span class="text-gradient text-warning text-uppercase text-xs font-weight-bold my-2">House</span>
                <a href="javascript:;" class="card-title h5 d-block text-darker">
                  Shared Coworking
                </a>
                <p class="card-description mb-4">
                  Use border utilities to quickly style the border and border-radius of an element. Great for images,
                  buttons.
                </p>
                <div class="author align-items-center">
                  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/team-2.jpg" alt="..."
                    class="avatar shadow">
                  <div class="name ps-2">
                    <span>Mathew Glock</span>
                    <div class="stats">
                      <small>Posted on 28 February</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="javascript:;" class="d-block">
                  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/blog7-2.jpg"
                    class="img-fluid border-radius-lg">
                </a>
              </div>
  
              <div class="card-body pt-3">
                <span class="text-gradient text-info text-uppercase text-xs font-weight-bold my-2">Office</span>
                <a href="javascript:;" class="text-darker card-title h5 d-block">
                  Really Housekeeping
                </a>
                <p class="card-description mb-4">
                  Use border utilities to quickly style the border and border-radius of an element. Great for images,
                  buttons.
                </p>
                <div class="author align-items-center">
                  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/ivana-square.jpg" alt="..."
                    class="avatar shadow">
                  <div class="name ps-3">
                    <span>Chriss Smahos</span>
                    <div class="stats">
                      <small>Posted 2 min ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-lg-0 mb-4">
            <div class="card">
              <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                <a href="javascript:;" class="d-block">
                  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/blog7-3.jpg"
                    class="img-fluid border-radius-lg">
                </a>
              </div>
  
              <div class="card-body pt-3">
                <span class="text-gradient text-warning text-uppercase text-xs font-weight-bold my-2">Hub</span>
                <a href="javascript:;" class="text-darker card-title h5 d-block">
                  Shared Coworking
                </a>
                <p class="card-description mb-4">
                  Use border utilities to quickly style the border and border-radius of an element. Great for images,
                  buttons.
                </p>
                <div class="author align-items-center">
                  <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro/img/marie.jpg" alt="..."
                    class="avatar shadow">
                  <div class="name ps-3">
                    <span>Elijah Miller</span>
                    <div class="stats">
                      <small>Posted now</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>   

{% endblock %}
