

{% load static %} 

{% block content %}

<div align="center">
<h1>Companion Place</h1>
</div>

<div id="Map">
    
</div>
<style>
    .frame {
      width: 900px;
      height: 500px;
      border: 3px solid blue;
      background: #b0e0fa;
      margin: active;
      padding: 15px 10px;
      border-radius: 20px;
    }

    .shadowframe {
        box-shadow: 0 0.25rem 0.7375rem -0.0625rem rgb(20 20 20 / 120%), 0 0.125rem 0.25rem -0.0625rem rgb(20 20 20 / 7%) !important;
        border-radius: 20px;
    }

</style>
<div class="mapouter shadowframe">
    <div class="gmap_canvas" style="border-radius: 20px; width: 900px; overflow: hidden;">
        <iframe width="900" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=india&t=&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:900px;}</style>
        <a href="https://www.embedgooglemap.net">google maps embed api</a>
        <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:900px;}</style></div></div>



{% endblock %}