
 {% load static %}   




<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-laroute</title>
    <!---------------head----------- -->
    <script src="{% static '/js/head.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--------------css------------ -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    
    
          </aside>
          
    
    

<div class="container-fluid py-5" id="contexte">
  <!-----------------------nav---------------- -->
  <script src="{% static '/js/nav2.js' %}"></script>
  <div class="row">
      <!----------------------sidebar----------------- -->
    <script src="{% static '/js/dashboard.js' %}"></script>
    <div class="col-8">
      {% block content %}

    {% endblock %}
</div>   
